@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('..fonts/roboto.woff2') format('woff2'),
        local('..fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('..fonts/robotomedium.woff2') format('woff2'),
        local('..fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('..fonts/robotobold.woff2') format('woff2'),
        local('..fonts/robotobold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

 img {
  max-width: 100%;
  height: auto;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.catalog-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
}

.site-navigation-link {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-navigation-link {
  color: #323232;
  text-decoration: none;
}

.catalog-navigation-new {
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.site-navigation-link:active {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation-link:active {
  background-color: #ededed;
}

.catalog-navigation-link[href]:hover,
.catalog-navigation-link[href]:focus {
  background-color: #fbded7;
}

.catalog-navigation-link[href]:active {
  background-color: #d07058;
}

.catalog-navigation-item .current-link,
.site-navigation-item .current-link {
  color: #ffffff;
  text-decoration: none;

  background-color: #d07058;
}

.search-link,
.login-link,
.basket-link {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.search-link:hover,
.login-link:hover,
.basket-link:hover,
.search-link:focus, 
.login-link:focus,
.basket-link:focus { 
  color: #323232;

  background-color: #f8f7f4;
}

.modal {
  color: #323232;

  background-color: #f8f7f4;
}

.modal input,
.modal textarea {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;

  width: 241px;
  height: 44px;
  border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal textarea {
  width: 428px;
  height: 155px;
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.modal input:hover,
.modal input:focus,
.modal textarea:hover,
.modal textarea:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal input:active,
.modal textarea:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-image: linear-gradient(0deg, #e84c36, #f26843);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(0deg, #f58669, #ed705e);
}

.button:active {
  background-image: linear-gradient(0deg, #e0603e, #a7301f);
}

.login-button {
  color: #fefefe;
}

.form-login input,
.modal-search input {
  border-color: #d3d3d2;
}

.restore,
.registration {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.restore:hover,
.registration:hover,
.restore:focus,
.registration:focus,
.restore:active
.registration:active {
  color: #e84d37;
}

.basket-link-full {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #323232;

  background-color: #ffffff;
}

.modal-basket {
  font-size: 13px;
  line-height: 16px;
}

.modal-basket table {
  border-bottom: 1px solid #cacac7;
}

.basket-price {
  color: #999999;
}

.basket-total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.basket-button,
.basket-button:hover {
  color: #ffffff;
}

.working-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.slider-slides,
.slider-btns,
.catalog-list {
  list-style: none;
}

.slider-slide {
  text-align: center;
}

.slider-lead {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
}

.slider-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slider-btn-current,
.slider-btn-current:hover,
.slider-btn-current:focus,
.slider-btn:active {
  background-color: #ffffff;
}

.promotion-card {
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  
  border-radius: 20px;
}

.promotion-card:first-of-type {
  background-color: #c6093a;
  background-image: url('../img/raspberry.jpg');
}

.promotion-card:last-of-type {
  background-color: #815543;
  background-image: url('../img/chocolate.jpg');
}

.promotion-lead {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promotion-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotion-button {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #ffbc9e;
}

.features {
  font: inherit;

  color: #323232;

  background-color: #eadec5;
  background-image: url('../img/bg-waffle.jpg');
}

.features-lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.blog {
  color: #323232;

  background-color: #ffffff;
  background-image: url('../img/blog-strawberry.jpg');
  background-repeat: no-repeat;

  margin-bottom: 40px;
}

.blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.article-name {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.article-name:hover,
.article-name:focus,
.article-name:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;

  border: 5px solid #ffffff;

  background-color: #f8f7f4;
  border-image-source: url('../img/background-subscription.svg');
  border-image-slice: 5;
  border-image-repeat: round;
}

.subscription input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription input:hover,
.subscription input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.subscription-button {
  color: #fefefe;
}

.contacts-window {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fffffe;
}

.contacts-window-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts .phone {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: 700;
}

.contacts-button {
  color: #fefefe;
}

.social-list,
.additional-links {
  list-style: none;
}

.social-button {
  color: #e6ebe9;
}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
}

.social-button:active {
  color: #e9e9e9;
}

.additional-links a {
  font-size: 13px;
  line-height: 28px;
  color: #ffffff;
  text-decoration: underline;
}

.additional-info-heart a {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright-link {
  color: #fefefe;
  text-decoration: underline;
}

.modal-callback-lead {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.form-callback input {
  font-size: 16px;
  line-height: 24px;
}

.form-callback textarea {
  font-size: 16px;
  line-height: 24px;
}

/* Разметка для страницы каталога */

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.filter-form ul {
  list-style: none;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-select {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);

  border: 0;

  appearance: none;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.filter-select:hover,
.filter-select:focus {
  color: #323232;
}

.topping {
  line-height: normal;
}

.filter-form label:hover,
.filter-input:focus ~ span {
  color: #ffffff;
}

.filter-form input:disabled ~ span { 
  color: rgba(255, 255, 255, 0.4);
}

.filter-select option {
  color: #323232;

  background-color: #ffffff;
}

.filter-select option:hover,
.filter-select option:focus {
  color: #ffffff;

  background-color: #1e90ff;
}

.filter-buttom {
  font: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;

  border: 2px solid #ffffff;
  border-radius: 15px;
}

.filter-buttom:hover,
.filter-buttom:focus {
  color: #323232;

  background-color: #fbfcfb;
  background-image: none;

  border: 2px solid #fbfcfb;
}

.filter-buttom:active {
  background-color: #eaeaea;

  border: 2px solid #eaeaea;
}

.paginator-list {
  list-style: none;
}

.paginator-link,
.paginator-link[href] {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.paginator-link {
  color: rgba(255, 255, 255, 0.2);
}

.paginator-link[href]:hover,
.paginator-link[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link[href]:active,
.paginator-current .paginator-link {
  color: #323232;

  background-color: #ffffff;
}

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright-link:hover,
.footer-copyright-link:focus,
.additional-info a:hover,
.additional-info a:focus {
  color: #ffbc9e;
}

/* ---- сеточные стили ---- */

/* body {
  
  background-image: url('../img/full-project.jpg');
  background-position: top center;
  background-repeat: no-repeat;

  min-height: 2500px;
} */

.main-header {
  padding-top: 9px;
  /* временно для сетки */
  min-height: 73px;
}

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.container {
  margin: auto;
  padding: 0 27px;

  width: 1200px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  margin: 0;
  padding: 0;

  /* margin-left: 24px; */

  width: 676px;

  /* временно для сетки */
  min-height: 64px;
}

.user-navigation {
  margin: 0;
  padding: 0;

  width: 267px;
  /* временно для сетки */
  min-height: 64px;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  margin: 0;
  padding: 0;
  margin-bottom: 281px;

  width: 100%;

  /* временно для сетки */
  min-height: 43px;  
}

.slider {
  margin-bottom: 40px;

  /* временно для сетки */
  min-height: 209px;  
}

.index-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.promotion-card {
  width: 560px;
  height: 230px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
}

.hits {
  margin-bottom: 5px;
}

.catalog-item {
  margin-bottom: 33px;
  margin-right: 26px;

  width: 267px;

  /* временно для сетки */
  min-height: 325px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.features {
  margin-bottom: 40px;
  padding-top: 25px;

  /* временно для сетки */
  min-height: 305px;
}

.features-lead {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  padding-right: 20px;

  /* временно для сетки */
  min-height: 63px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

  margin: 0;
  padding: 0;
  padding-left: 20px;
}

.features-item {
  margin-bottom: 28px;
  width: 540px;
  padding-left: 57px;

  min-height: 60px;
}

.blog,
.subscription {
  width: 560px;
  height: 220px;
}

.contacts {
  margin-left: -27px;

  width: 1200px;
  min-height: 430px;
}

.main-footer {
  margin-top: 18px;

  /* временно для сетки */
  min-height: 85px;
}

.main-footer .container {
  display: flex;
  justify-content: space-between;
}

.social-list {
  display: flex;

  width: 267px;

  /* временно для сетки */
  min-height: 40px;
}

.additional-links {
  display: flex;

  margin: 0;

  width: 560px;
}

.footer-copyright {
  display: flex;

  width: 267px;
}