@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto.woff2') format('woff2'),
        url('../fonts/roboto.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/robotomedium.woff2') format('woff2'),
        url('../fonts/robotomedium.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/robotobold.woff2') format('woff2'),
        url('../fonts/robotobold.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;
}

a {
  text-decoration: none;
}

 img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(focus):not(active) {
  position: absolute;

  width: 1px;
  height: 1px;

  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-navigation,
.catalog-navigation {
  list-style: none;
}

.user-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end ;

  width: 267px;

  margin: 0;
  margin-top: -5px;
  padding: 0;

  list-style: none;
}

.site-navigation {
  line-height: 18px;
  font-weight: 700;
}

.site-navigation-item {
  position: relative;

  padding-bottom: 5px;
}

.site-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-right: 1px;
  padding: 6px 13px 8px 14px;

  color: #ffffff;
  text-decoration: underline;

  border-radius: 50px;
}

.catalog-navigation {
  position: absolute;
  top: 36px;
  left: 0;
  z-index: 100;

  display: none;

  width: 143px;

  margin: 0;
  padding: 0 9px 0 6px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
  border-radius: 6px;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.catalog-navigation-item {
  padding-bottom: 5px;
  margin-bottom: 3px;
}

.catalog-navigation-link {
  display: block;

  margin: 0 -9px 0 -6px;
  padding: 5px 0 7px 15px;

  color: #323232;
  text-decoration: none;
}

.catalog-navigation-new {
  margin-bottom: 5px;
  padding-top: 6px;
  padding-bottom: 6px;

  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.site-navigation-item:hover .catalog-navigation,
.site-navigation-link:focus ~ .catalog-navigation {
  display: block;
}

.site-navigation-link:hover,
.site-navigation-link:focus,
.site-navigation-link:active {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation-link:active {
  background-color: #ededed;
  box-shadow: 0 -2px 1px 0 #696969;
}

.catalog-navigation-link[href]:hover,
.catalog-navigation-link[href]:focus {
  background-color: #fbded7;
}

.catalog-navigation-link[href]:active {
  background-color: #d07058;
}

.catalog-navigation-item .current-link,
.site-navigation-item .current-link {
  color: #ffffff;
  text-decoration: none;

  background-color: #d07058;
}

.user-navigation-link {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 6px 16px 7px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);
}

.basket-link {
  padding-bottom: 6px;
}

.user-link-title {
  margin-left: 7px;
}

.search-link {
  width: 32px;
  height: 32px;

  padding: 0;

  border-radius: 50%;
}

.user-navigation-link:hover,
.user-navigation-link:focus { 
  color: #323232;

  background-color: #f8f7f4;
}

.modal {
  position: absolute;
  top: 36px;
  z-index: 5;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.modal-search,
.modal-login,
.modal-basket {
  width: 340px;

  padding: 20px 15px;

  border-radius: 6px;

  display: none;
}

.modal-login {
  padding: 20px;

  width: 277px;
}

.modal-basket {
  padding: 15px 15px 18px 15px;

  width: 540px;

  line-height: 16px;
  color: #323232;
}

.modal-search input,
.modal-login input {
  width: 310px;
  height: 42px;

  margin: 0;
  padding: 0;
  padding: 0 14px;

  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;

  border-radius: 6px;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: inherit;
}

.modal-login input {
  width: 240px;
}

.search-input-container {
  margin: 0;
  padding: 0;
}

.login-input-container {
  margin: 0;
  padding-bottom: 20px;
}

.callback-input-container {
  margin: 0;
  padding: 0;
  padding-top: 20px;
}

.text-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  padding-bottom: 0;
}

.modal-callback {
  position: fixed;

  display: none;

  top: 215px;
  left: 50%;

  margin-left: -239px;
  padding: 18px 24px 27px 24px;

  color: #323232;

  border-radius: 6px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.3);

  display: none;
}

.modal-show {
  display: block;

  animation: bounce 0.6s;
}

@keyframes bounce {
  0% {
    transform: translateY(-1000px);
  }

  70% {
    transform: translateY(50px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

.overlay-show {
  display: block;
}

.modal-error {
  animation: shake 0.6s;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.callback-position-container {
  position: relative;
}

.modal-callback input,
.modal textarea {
  width: 241px;
  height: 44px;

  padding: 14px;

  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  box-sizing: inherit;
  border-radius: 6px;
}

.modal textarea {
  width: 428px;
  height: 155px;
}

.modal input::placeholder,
.modal textarea::placeholder,
.subscription input::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-weight: 400;
}

.modal input:hover,
.subscription input:hover,
.modal textarea:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal input:focus,
.subscription input:focus,
.modal textarea:focus {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button {
  display: inline-block;

  padding: 8px 40px 11px 40px;

  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #ffffff;
  text-align: center;
  vertical-align: top;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  
  background: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;

  cursor: pointer;
}

.button:hover,
.button:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ed705e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background-image: linear-gradient(to bottom, #e0603e, #a7301f);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.login-button {
  width: 100px;
  height: 44px;

  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
}

.callback-button {
  width: 138px;
  height: 44px;

  padding: 0;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
  text-align: center;
  vertical-align: middle;
}

.callback-button-container {
  margin-top: 25px;

  text-align: end;
}

.modal-close {
  position: absolute;
  
  top: -3px;
  right: -7px;
  
  width: 22px;
  height: 22px;

  margin: 0;
  padding: 0;

  font-size: 0;

  border: 0;
  background-color: transparent;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: '';

  position: absolute;

  left: 0;

  width: 22px;
  height: 2px;

  background-color: #323232;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.delete-button {
  position: relative;

  top: 0px;
  right: 0;

  width: 15px;
  height: 15px;
}

.delete-button::before,
.delete-button::after {
  width: 15px;
  height: 1px;
}

.form-login input,
.modal-search input {
  border-color: #d3d3d2;

  box-sizing: inherit;
}

.restore,
.registration {
  display: block;

  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.restore:hover,
.registration:hover,
.restore:focus,
.registration:focus,
.restore:active,
.registration:active {
  color: #e84d37;
}

.basket-link-full {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  color: #323232;

  background-color: #ffffff;
}

.modal-basket {
  font-size: 13px;
  line-height: 16px;
}

.modal-basket table {
  border-bottom: 1px solid #cacac7;
}

.basket-price {
  color: #999999;
}

.basket-total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.working-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.phone {
  padding-top: 4px;

  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  margin-bottom: 46px;
  padding: 0;

  list-style: none;
}

.promotion-card {
  display: flex;
  flex-direction: column;

  padding: 18px 20px 23px 20px;

  width: 560px;
  min-height: 230px;

  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  
  border-radius: 16px;
}

.promotion-card:first-of-type {
  background-color: #c6093a;
  background-image: url('../img/raspberry.jpg');
}

.promotion-card:last-of-type {
  background-color: #815543;
  background-image: url('../img/chocolate.jpg');
}

.promotion-lead {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.promotion-text {
  margin: 0;
  margin-bottom: 43px;

  padding: 0;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.promotion-button {
  align-self: flex-end;

  padding: 11px 22px 11px 22px;

  font-size: 18px;
  line-height: 24px;
}

.hits {
  margin-bottom: 5px;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;

  width: 267px;

  margin-bottom: -42px;
  margin-right: 26px;
  padding: 6px 5px 22px;
}

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.catalog-item:hover {
  z-index: 1;

  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
  border-radius: 6px;
}

.catalog-item-price {
  margin: 0;
  margin-top: -58px;
  padding: 0;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-align: start;
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: 700;
}

.catalog-item-title {
  margin: 15px 0 11px 0;
  padding: 0;

  text-align: center;
}

.catalog-item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #ffbc9e;
}

.catalog-item-hit::before {
  content: '';
  
  position: absolute;
  top: 0;
  z-index: 1;

  width: 61px;
  height: 61px;

  background-color: #ffffff;
  background-image: url('../img/hit.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.catalog-button {
  align-self: center;
  justify-self: flex-end;

  visibility: hidden;

  margin-top: auto;
  padding: 12px 17px;

  font-size: 18px;
  line-height: 24px;
}

.catalog-item:hover .catalog-button {
  visibility: visible;
}

.features {
  margin-top: -45px;
  margin-bottom: 40px;
  padding-top: 5px;

  font: inherit;

  color: #323232;

  background-color: #eadec5;
  background-image: url('../img/bg-waffle.jpg');
  border-radius: 20px;
}

.features-lead {
  margin: 20px;
  margin-bottom: 25px;
  padding: 0;

  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 20px;

  list-style: none;
}

.features-item {
  position: relative;

  margin-bottom: 25px;
  margin-left: 57px;
  margin-right: 29px;
  width: 477px;
}

.features-item::before {
  content: '';

  position: absolute;
  left: -57px;
  top: -15px;

  width: 49px;
  height: 49px;

  background-color: transparent;
  background-image: url('../img/features-ice-cream.svg');
  background-repeat: no-repeat;
  border-radius: 50%;
}

.features-item:nth-child(2)::before {
  background-image: url('../img/features-cow.svg');
}

.features-item:nth-child(3)::before {
  background-image: url('../img/features-leaf.svg');
}

.features-item:nth-child(4)::before {
  background-image: url('../img/features-thermometer.svg');
}

.blog {
  padding: 27px 20px;

  width: 560px;

  color: #323232;

  background-color: #ffffff;
  background-image: url('../img/blog-strawberry.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
}

.blog-title {
  margin: 0;
  margin-bottom: 8px;
  padding: 0;

  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.article-name {
  display: inline-block;

  width: 282px;

  font-size: 24px;
  line-height: 30px;
  color: inherit;
  font-weight: 700;
  text-decoration: underline;
}

.article-name:hover,
.article-name:focus,
.article-name:active {
  color: #e84d37;
}

.subscription {
  padding: 27px 20px;
  
  width: 560px;
  
  color: #5a5a5a;

  border-radius: 20px;
  border-top: 5px solid #ffffff;
  border-bottom: 5px solid #ffffff;
  border-right: 6px solid #ffffff;
  border-left: 6px solid #ffffff;

  background-color: #f8f7f4;
  border-image-source: url('../img/background-subscription.svg');
  border-image-slice: 5;
  border-image-repeat: round;
}

.subscription p {
  margin: 0;
  margin-bottom: 37px;
  padding: 0;
}

.subscription input {
  width: 368px;
  height: 44px;

  margin-right: 7px;
  padding: 10px 15px 12px 15px;

  font-size: 16px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;

  background-color: #ffffff;
  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
  box-sizing: inherit;
}

.subscription-button {
  width: 129px;

  padding: 11px 19px;

  font-size: 18px;
  line-height: 24px;
  color: #fefefe;
}

.contacts-window {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fffffe;
}

.contacts-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-phone {
  display: inline-block;

  margin-bottom: 5px;
  padding-right: 115px;

  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: 700;
}

.contacts-work-hours {
  line-height: 22px;
}

.contacts-button {
  color: #fefefe;
}

.social-list,
.additional-links {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-button {
  display: inline-block;

  width: 38px;
  height: 38px;

  margin-right: 10px;

  color: #e6ebe9;

  opacity: 0.8;
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  background-image: url('../img/tw.svg');
  background-repeat: no-repeat;
}

.social-button-in {
  background-image: url('../img/in.svg');
}

.social-button-fb {
  background-image: url('../img/fb.svg');
}

.social-button-vk {
  background-image: url('../img/vk.svg');
}

.social-button:hover,
.social-button:focus {
  opacity: 1;
  border-color: rgba(255, 255, 255, 0.7);
}

.social-button:active {
  opacity: 0.7;
  box-shadow: inset 0 2px 1px 0px #888888;
}

.additional-link {
  font-size: 13px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: underline;
}

.additional-link-heart {
  font-weight: 700;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright-link {
  color: #fefefe;
  text-decoration: underline;
}

.modal-callback-lead {
  margin: 0;
  padding: 0;

  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

/* --- Разметка для страницы каталога --- */

.breadcrumbs {
  display: flex;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;

  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs-item:not(:last-child)::after {
  content: '»';

  margin: 10px;

  font: inherit;
}

.breadcrumbs a {
  color: inherit;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-copyright-link:hover,
.footer-copyright-link:focus,
.additional-link:hover,
.additional-link:focus {
  color: #ffbc9e;
}

/* ---- сеточные стили ---- */

.main-header {
  padding-top: 9px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;

  width: 1200px;

  margin: 0 auto;
  padding: 0 27px;
}

.main-header-logo {
  width: 154px;
  height: 64px;
}

.site-navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  width: 676px;

  margin: 0;
  margin-left: -30px;
  margin-top: -5px;
  padding: 0;
}

.user-navigation-item {
  position: relative;

  margin-left: 6px;
  padding-bottom: 5px;
}

.user-navigation-item:hover > .modal {
  display: block;
}

.header-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  width: 100%;

  margin: 0;
  padding: 0;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-bottom: 40px;
}

.contacts {
  width: 1200px;
  min-height: 430px;

  position: relative;
  margin-left: -27px;
}

.contacts-window {
  position: absolute;
  top: 60px;
  right: 26px;

  width: 305px;
  
  padding: 30px 26px;

  border-radius: 24px;
}

.contacts-paragraph {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.contacts-address-text {
  display: inline-block;

  margin-bottom: 5px;
  padding-right: 105px;
}

.contacts-phone-text {
  display: inline-block;

  margin-bottom: 9px;
  padding-right: 75px;
}

.contacts-button {
  padding: 11px 27px;
  
  width: 252px;
  min-height: 44px;

  font-size: 18px;
  line-height: 24px;
}

.main-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 18px;
  padding-bottom: 25px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;

  max-width: 267px;
}

.additional-links {
  display: flex;
  flex-wrap: wrap;

  width: 340px;

  margin: 0;
  padding: 0;
}

.additional-link {
  padding-right: 30px;
}

.additional-info-heart {
  position: relative;
}

.additional-info-heart::before {
  content: '';
  
  position: absolute;
  left: -22px;
  top: 5px;

  width: 15px;
  height: 13px;

  background-image: url('../img/heart.svg')
}

.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-copyright-text {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

/* ---- Слайдер ---- */

.site-wrapper {
  min-width: 1200px;

  background-color: #849d8f;
  background-image: url('../img/slide-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;

  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.slider {
  position: relative;

  padding-top: 273px;
  margin-bottom: 40px;

  text-align: center; 
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slider-lead {
  width: 675px;

  margin: 0 auto;
  margin-bottom: 33px;
  padding: 0;

  font-size: 60px;
  line-height: 60.35px;
  font-weight: 700;
}

.slider-controls {
  position: absolute;
  top: 446px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;

  width: 21px;
  height: 21px;

  margin-right: 8px;

  border-radius: 50%;
  border: 2px solid #ffffff;

  background-color: transparent;

  cursor: pointer;
}

.slider-item {
  text-align: center;
}

#slide-1:checked ~ .site-wrapper #slide1,
#slide-2:checked ~ .site-wrapper #slide2,
#slide-3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#slide-1:checked ~ .site-wrapper label[for="slide-1"],
#slide-2:checked ~ .site-wrapper label[for="slide-2"],
#slide-3:checked ~ .site-wrapper label[for="slide-3"] {
  background-color: #ffffff;
}

#slide-1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url('../img/slide-1.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#slide-2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url('../img/slide-2.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
}

#slide-3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url('../img/slide-3.png');
  background-position: 50% 0;
  background-repeat: no-repeat;
}

.site-wrapper::before,
.site-wrapper::after {
  content: '';

  visibility: hidden;
}

.site-wrapper::before {
  background-image: url('../img/slide-2.png');
}

.site-wrapper::after {
  background-image: url('../img/slide-3.png');
}

/* --- Внутренняя страница */

.inner-page {
  min-width: 1200px;

  background-color: #849d8f;
}

.basket-table {
  border-collapse: collapse;

  width: 510px;
}

.basket-link-full {
  position: relative;

  padding: 8px 16px;
  padding-left: 44px;
}

.basket-link-full::before {
  content: '';

  position: absolute;
  left: 16px;

  width: 21px;
  height: 20px;;

  background-image: url('../img/basket-full.png');
  background-repeat: no-repeat;
}

.basket-table-cell {
  padding: 5px 0px 15px 0;
}

.text-cell {
  width: 230px;
}

.table-price,
.table-sum {
  text-align: center;
}

.basket-total {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.basket-button {
  padding: 12px 15px;

  font-size: 18px;
  line-height: 24px;
}

/* --- Фильтр --- */

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 879px;

  margin-bottom: 18px;
}

.filter-select {
  position: relative;

  padding: 0 16px;

  height: 36px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);

  border: 0;
  border-radius: 50px;

  appearance: none;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.filter-select:hover,
.filter-select:focus {
  color: #323232;
}

.filter-form label:hover,
.filter-input:focus ~ span {
  color: #ffffff;
}

.filter-form input:disabled ~ span { 
  color: rgba(255, 255, 255, 0.4);
}

.filter-fieldset {
  margin: 0 16px 16px 0;
  padding: 0;

  border: none;
}

.filter-fieldset legend {
  margin: 0 0 6px 16px;

  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;
  padding-left: 16px;

  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.2);

  list-style: none;
}

.filter-buttom {
  margin-top: 22px;
  padding: 7px 28px;

  height: 36px;
  
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-shadow: none;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;
  border: 2px solid #ffffff;
  border-radius: 50px;
  box-shadow: none;
}

.filter-buttom:hover,
.filter-buttom:focus,
.filter-buttom:active {
  color: #323232;
  text-decoration: none;

  border: none;
  background-color: #f7f6f3;
  background-image: none;
  box-shadow: none;
}

.filter-buttom:active {
  background-color: #ededed;
  box-shadow: 0 -2px 1px 0 #696969;
}

.filter-option {
  position: relative;

  padding: 7px 18px 7px 32px;
}

.filter-option::before {
  content: '';

  position: absolute;
  top: 7px;
  left: 0px;

  width: 22px;
  height: 22px;
}

/* --- Пагинатор --- */

.paginator-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  list-style: none;
}

.paginator-link,
.paginator-link[href] {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.paginator-link {
  margin-right: 3px;
  padding: 4px 9px;

  color: rgba(255, 255, 255, 0.2);

  border-radius: 50%;
}

.paginator-link[href]:hover,
.paginator-link[href]:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-link[href]:active,
.paginator-current .paginator-link {
  color: #323232;

  background-color: #ffffff;
}

.paginator-next {
  margin-right: 0;
  padding-right: 0;
}

.paginator-next[href]:hover,
.paginator-next[href]:focus {
  background-color: transparent;
}