body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #ffffff;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.site-navigation,
.catalog-navigation,
.user-navigation {
  list-style: none;
}

.site-navigation {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.catalog-navigation {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  background-color: #f8f7f4;
}

.site-navigation a {
  color: #ffffff;
  text-decoration: underline;
}

.catalog-navigation a {
  color: #323232;
  text-decoration: none;
}

.catalog-navigation-new {
  font-weight: 700;

  border-bottom: 1px solid #d1d0ce;
}

.site-navigation-item > a:hover,
.site-navigation-item > a:focus {
  color: #323232;
  text-decoration: none;

  background-color: #f7f6f3;
}

.site-navigation-item > a:active {
  color: #323232;

  background-color: #ededed;
}

.catalog-navigation-item:hover,
.catalog-navigation-item:focus {
  background-color: #fbded7;
}

.catalog-navigation-item:active {
  background-color: #f6b5a5;
}

.catalog-navigation-item-current,
.site-navigation-current {
  color: #ffffff;

  background-color: #d07058;
}

.catalog-navigation-item-current a {
  color: inherit;
}

.user-navigation a {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0.2);
}

.user-navigation a:hover,
.user-navigation a:focus {
  color: #323232;

  background-color: #f8f7f4;
}

.modal {
  color: #323232;

  background-color: #f8f7f4;
}

.modal input,
.modal textarea {
  font-size: 14px;
  line-height: 24px;
  color: #323232;
  font-weight: bold;

  background-color: #ffffff;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

.modal input::placeholder,
.modal textarea::placeholder {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  font-weight: normal;
}

.modal input:hover,
.modal input:focus,
.modal textarea:hover,
.modal textarea:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.modal input:active,
.modal textarea:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.button {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;

  border: none;
  background-image: linear-gradient(0deg, #e74a35, #f26843);
}

.button:hover,
.button:focus,
a.button:hover,
a.button:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.login-button {
  color: #fefefe;
}

.form-login a {
  font-size: 13px;
  line-height: 24px;
  color: #323232;
  text-decoration: underline;
}

.form-login a:hover,
.form-login a:focus,
.form-login a:active {
  color: #e84d37;
}

.working-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
}

a.phone {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
}

.slider-slides,
.slider-btns,
.catalog-list {
  list-style: none;
}

.slider-slide {
  text-align: center;
}

.slider-lead {
  font-size: 60px;
  line-height: 60.35px;
  font-weight: bold;
}

a.slider-button {
  font-size: 32px;
  line-height: 44px;
  font-weight: bold;
}

.slider-btn {
  width: 20px;
  height: 20px;
  border-radius: 50%;

  border: 2px solid #ffffff;
  background-color: rgba(255, 255, 255, 0);
}

.slider-btn-current {
  background-color: #ffffff;
}

.slider-btn:hover,
.slider-btn:focus {
  background-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
}

.slider-btn-current:hover,
.slider-btn-current:focus {
  background-color: #ffffff;
}

.slider-btn:active {
  background-color: #ffffff;
}

.promotion-card:first-of-type {
  background-color: #c6093a;
  background-image: url(../img/raspberry.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promotion-card:last-of-type {
  background-color: #815543;
  background-image: url(../img/chocolate.jpg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.promotion-lead {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.promotion-text {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

a.promotion-button {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
}

.catalog-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.catalog-item-price {
  font-size: 45px;
  line-height: 45px;
  font-weight: bold;
}

.weight {
  font-size: 30px;
  line-height: 45px;
  font-weight: bold;
}

.catalog-item-title a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  color: #ffffff;
  text-decoration: underline;
}

.catalog-item-title a:hover,
.catalog-item-title a:focus {
  color: #ffbc9e;
}

.features {
  font: inherit;

  color: #323232;

  background-color: #eadec5;
  background-image: url(../img/bg-waffle.jpg);
}

.features-lead {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;
}

.blog {
  color: #323232;

  background-color: #ffffff;
  background-image: url(../img/blog-strawberry.jpg);
  background-repeat: no-repeat;

  margin-bottom: 40px;
}

.blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.blog a {
  font-size: 24px;
  line-height: 30px;
  color: inherit;
  font-weight: bold;
  text-decoration: underline;
}

.blog a:hover,
.blog a:focus,
.blog a:active {
  color: #e84d37;
}

.subscription {
  color: #5a5a5a;

  border: 5px solid white;

  background-color: #f8f7f4;
  border-image-source: url(../img/background-subscription.svg);
  border-image-slice: 5;
  border-image-repeat: round;
}

.subscription input {
  font-size: 16px;
  line-height: 24px;
  color: #999999;

  background-color: #ffffff

  border: 1px solid rgba(178, 178, 178, 0.52);
}

.subscription input:hover,
.subscription input:focus {
  border: 2px solid rgba(154, 154, 154, 0.52);
}

.subscription input:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}


.subscription-button {
  color: #fefefe;

  border: 1px solid #999999;
}

.contacts-window {
  font-size: 14px;
  line-height: 20px;
  color: #323232;

  background-color: #fffffe;
}

.contacts-window-address {
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}

.contacts a.phone {
  font-size: 18px;
  line-height: 22px;
  color: #323232;
  font-weight: bold;
}

.contacts-button {
  color: #fefefe;
}

.social-list,
.additional-links {
  list-style: none;
}

.social-button {
  color: #e6ebe9;
}

.social-button:hover,
.social-button:focus {
  color: #ffffff;
}

.social-button:active {
  color: #e9e9e9;
}

.additional-links a {
  font-size: 13px;
  line-height: 28px;
  color: inherit;
  text-decoration: underline;
}

.additional-info-heart a {
  font-weight: bold;
}

.footer-copyright {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
}

.footer-copyright a {
  font: inherit;
  color: #fefefe;
  text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus,
.additional-info a:hover,
.additional-info a:focus {
  color: #ffbc9e;
}

.modal-callback-lead {
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
}

.form-callback input {
  font-size: 16px;
  line-height: 24px;
}

.form-callback textarea {
  font-size: 16px;
  line-height: 24px;

  border: 1px solid rgba(178, 178, 178, 0.52);
}

/*Разметка для страницы каталога*/

.basket-full > a{
  color: #323232;

  background-color: #ffffff;
}

.modal-basket {
  font-size: 13px;
  line-height: 16px;
}

.modal-basket table {
  border-bottom: 1px solid #cacac7;
}

.basket-price {
  color: #999999;
}

.basket-total-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
}

a.basket-button:hover,
a.basket-button:focus {
  color: #ffffff;
}

.breadcrumbs {
  font-size: 14px;
  line-height: 16px;

  list-style: none;
}

.breadcrumbs a {
  color: inherit;
  text-decoration: underline;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.page-title {
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
}

.filter-form ul {
  list-style: none;
}

.filter-form legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter-select {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.2);

  border: 0;
}

.filter-form label {
  font-size: 16px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}

.filter-select:hover,
.filter-select:focus {
  color: #323232;
}

.topping {
  line-height: normal;
}

.filter-form label:hover,
.filter-form input:hover,
.filter-form input:focus {
  color: #ffffff;
}

.filter-select:disabled,
.filter-form label:disabled {
  color: rgba(255, 255, 255, 0.4);
}

.filter-select option {
  color: #323232;

  background-color: #ffffff;
}

.filter-select option:hover,
.filter-select option:focus {
  color: #ffffff;

  background-color: #1e90ff;
}

.filter-buttom {
  font: inherit;

  background-color: rgba(255, 255, 255, 0.2);
  background-image: none;

  border: 2px solid #ffffff;
  border-radius: 15px;
}

.filter-buttom:hover,
.filter-buttom:focus {
  color: #323232;

  background-color: #fbfcfb;

  border: 2px solid #fbfcfb;
}

.filter-buttom:active {
  background-color: #eaeaea;

  border: 2px solid #eaeaea;
}

.filter-form input[type="range"]:hover {
  cursor: pointer;
}

.paginator-list {
  list-style: none;
}

.paginator-item a {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.paginator-item a:hover,
.paginator-item a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}

.paginator-item a:active {
  color: #323232;

  background-color: #ffffff;
}

.paginator-current a,
.paginator-current a:hover,
.paginator-current a:focus,
.paginator-current a:active {
  color: #323232;

  background-color: #ffffff;
}

.paginator-disabled a,
.paginator-disabled a:hover,
.paginator-disabled a:focus,
.paginator-disabled a:active {
  color: rgba(255, 255, 255, 0.2);

  background-color: transparent;
}

.catalog {
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}






